In [1]:
import pandas as pd
import statsmodels.api as sm
from pandas import Series, DataFrame, Panel
from string import ascii_lowercase as letters
from scipy.stats import chisqprob
from __future__ import division
import os
import sys
import glob
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import random
import math
from scipy.stats import wrapcauchy
import matplotlib.pyplot as plt
%matplotlib inline
%precision 4
plt.style.use('ggplot')
from mpl_toolkits.mplot3d import Axes3D
import scipy.stats as stats
from functools import partial
np.random.seed(1234)

C:\Anaconda\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [2]:
def rw2(n):# this gives samples from weibull(5,2)
    distance=[]
    x=np.zeros(n)
    y=np.zeros(n)
    for i in range(1,n):
        r=random.weibullvariate(alpha,beta)
        theta=2.*math.pi*random.random()
        x[i]=x[i-1]+r*math.cos(theta)
        y[i]=y[i-1]+r*math.sin(theta)
    return(x,y)   
    
alpha=2#float(input("what's the scale?"))
beta=5#float(input("what's the shape?"))
n=100#int(input("how many steps?"))
#tries=int(input("how many tries?"))#  put tries=1  in order to properly save the list distance
data = rw2(n)
x=data[0]
y=data[1]

In [3]:
# The Series datatype can also be used to represent time series

import datetime as dt
from pandas import date_range

today = dt.date.today()
days = date_range(today, periods=n, freq='S')
tx = Series(x,index=days)# here I should put my function
ty=Series(y,index=days)
#ty.columns=('date','seconds','x-coordinate')
dftx=pd.Series.to_frame(tx)
#print(dftx)
#print (tx, '\n') # Note - includes end time
#print (ty, '\n') # Note - includes end time

In [4]:
dftx=dftx.assign(coordinate=y)
#ftx.columns=['x-coordinate']

In [5]:
 d = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(data=d, dtype=np.int8)
df.columns=['column1','column2']# changing the names
R=range(0,2)
df.assign(y=R)

   column1  column2  y
0        1        3  0
1        2        4  1

In [9]:
#dftx.columns=['x-coordinate','y-coordinate'] It works! type this again when you run the code
dftx.columns=['x-coordinate','y-coordinate']
dftx

                     x-coordinate  y-coordinate
2018-02-09 00:00:00      0.000000      0.000000
2018-02-09 00:00:01      0.721418     -1.722992
2018-02-09 00:00:02     -1.961336     -1.934689
2018-02-09 00:00:03     -0.851875     -3.034074
2018-02-09 00:00:04     -1.826127     -2.268591
2018-02-09 00:00:05     -2.902006     -3.339475
2018-02-09 00:00:06     -2.536834     -5.082777
2018-02-09 00:00:07     -2.973792     -3.182060
2018-02-09 00:00:08     -0.899449     -3.384293
2018-02-09 00:00:09     -2.295630     -4.339744
2018-02-09 00:00:10     -0.475450     -4.903706
2018-02-09 00:00:11      1.208393     -5.444261
2018-02-09 00:00:12      2.905787     -4.416890
2018-02-09 00:00:13      4.318136     -4.868999
2018-02-09 00:00:14      1.914868     -6.147687
2018-02-09 00:00:15      0.718930     -7.016810
2018-02-09 00:00:16      0.771670     -5.641210
2018-02-09 00:00:17      0.900516     -7.308675
2018-02-09 00:00:18     -0.428321     -6.145049
2018-02-09 00:00:19      1.249492     -6.431918
2018-02-09 00:00:20      3.072578     -7.313543
2018-02-09 00:00:21      2.769235     -6.120401
2018-02-09 00:00:22      3.967198     -5.506997
2018-02-09 00:00:23      4.993329     -6.336938
2018-02-09 00:00:24      6.311001     -4.173263
2018-02-09 00:00:25      6.545026     -5.353663
2018-02-09 00:00:26      7.981798     -6.096948
2018-02-09 00:00:27      6.341051     -5.159265
2018-02-09 00:00:28      8.731921     -5.194377
2018-02-09 00:00:29      7.237571     -5.131618
...                           ...           ...
2018-02-09 00:01:10     -9.744536     -4.732473
2018-02-09 00:01:11    -10.635735     -6.317659
2018-02-09 00:01:12    -10.411915     -8.051720
2018-02-09 00:01:13    -11.990778     -9.103669
2018-02-09 00:01:14    -14.469963     -8.509165
2018-02-09 00:01:15    -16.202717     -9.100797
2018-02-09 00:01:16    -14.167694     -9.766657
2018-02-09 00:01:17    -15.961138    -10.028006
2018-02-09 00:01:18    -17.724781     -8.392265
2018-02-09 00:01:19    -16.926602     -6.488564
2018-02-09 00:01:20    -15.257772     -7.257389
2018-02-09 00:01:21    -15.926524     -8.534908
2018-02-09 00:01:22    -17.135650    -10.572127
2018-02-09 00:01:23    -15.153240    -11.667068
2018-02-09 00:01:24    -15.227166     -9.870463
2018-02-09 00:01:25    -14.723966     -7.835604
2018-02-09 00:01:26    -14.466532     -6.323927
2018-02-09 00:01:27    -13.259033     -7.803411
2018-02-09 00:01:28    -11.889643     -9.802336
2018-02-09 00:01:29    -13.329665     -9.313277
2018-02-09 00:01:30    -14.293443     -9.242845
2018-02-09 00:01:31    -13.826801     -7.659885
2018-02-09 00:01:32    -11.514888     -7.700590
2018-02-09 00:01:33    -10.324709     -6.587287
2018-02-09 00:01:34    -12.454100     -7.644853
2018-02-09 00:01:35    -13.872927     -8.026966
2018-02-09 00:01:36    -12.550051     -7.803453
2018-02-09 00:01:37    -11.098759     -9.794905
2018-02-09 00:01:38    -11.885150    -10.917476
2018-02-09 00:01:39    -12.181847     -9.789900

[100 rows x 2 columns]